<h1>Seja Bem-vindo</h1>
<p><strong>Data: </strong><%= data_br(Date.today) %></p>

<%= render "menu" %>

<p>Você está em ambiente de <strong><%= get_environment %></strong></p>
<p>Variável e instância/session <strong><%= @nome %></strong></p>
<p>Variável e instância/session só que com outro valor <strong><%= @sobrenome %></strong></p>