<h1>Seja Bem-vindo</h1>

<p><%= link_to 'Português', root_path(locale: 'pt-BR')%></p>
<p><%= link_to 'English', root_path(locale: 'en')%></p>

<p>O idioma padrão da aplicação é: <strong><%= t('actual_locale') %></strong></p>
<p><strong>Data: </strong><%= I18n.l(Date.today) %></p>

<p><%= cookies[:curso] %></p>
<p><%= session[:curso] %></p> 

<p>i18n: <%= I18n.t('hello')%></p>

<%= render "menu" %>

<p>Você está em ambiente de <strong><%= get_environment %></strong></p>
<p>Variável e instância/session <strong><%= @nome %></strong></p>
<p>Variável e instância/session só que com outro valor <strong><%= @sobrenome %></strong></p>