<h1>Seja Bem-vindo</h1>
<p>O idioma padrão da aplicação é: <strong><%= t('actual_locale') %></strong></p>
<p><strong>Data: </strong><%= I18n.l(Date.today) %></p>

<p><%= I18n.t('hello')%></p>
<p><%= t('hello')%></p> <%# Como estamos na view, n precisamos passar o 'I18n' para chama-lo %>

<%= render "menu" %>

<p>Você está em ambiente de <strong><%= get_environment %></strong></p>
<p>Variável e instância/session <strong><%= @nome %></strong></p>
<p>Variável e instância/session só que com outro valor <strong><%= @sobrenome %></strong></p>