<!DOCTYPE html>
<html>
  <head>
    <title>CryptoWallet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag params[:controller], "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <%= javascript_include_tag params[:controller], "data-turbo-track" => "reload" %>
  </head>

  <body>
    <header>
      <h2>Header padrão</h2>
    </header>
    <h3><%= params[:controller]%></h3>
    <%= yield %>
    <footer>
      <h2>Footer padrão</h2>
    </footer>
  </body>