<p style="color: green"><%= notice %></p>

<h1>Coins</h1>

<p><strong>Data:</strong> <%= data_br(Date.today) %></p>

<div id="coins">
  <% @coins.each do |coin| %>
    <%= render coin %>
    <p>
      <%= link_to "Show this coin", coin %>
    </p>
  <% end %>
</div>

<%= link_to "New coin", new_coin_path %>

<div>
  <small><%= application_name %></small>
</div>
