<p style="color: green"><%= notice %></p>

<%= render @coin %>

<div>
  <%# = @coin.id %>
  <%= link_to t('links.edit'), edit_coin_path(@coin) %> |
  <%= link_to t('links.back_to_coins'), coins_path %>

  <%= button_to t('links.destroy'), @coin, method: :delete %>
</div>
